{% extends 'homepage/base.html' %}
{% block body %}
{% include 'homepage/navbar.html' %}


<div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'homepage' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
      </div>
    </div>


<div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              {% if is_empty %}
                <center class="pb-5"><h2>Your cart is empty!</h2></center>
                {% else %}
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-name">Product</th>
                    <th class="product-name">Size</th>
                    <th class="product-name">Color</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-total">Total</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in cartitems %}
                  <tr>
                    <td class="product-name">
                      <h2 class="h5 text-black">{{ item.title }}</h2>
                    </td>
                    <td>{{ item.size }}</td>
                    <td>{{ item.color }}</td>
                    <td>Rs.{{ item.price }}</td>
                    <td>
                      {{ item.quantity }}
                    </td>
                    <td>Rs.{% widthratio item.quantity 1 item.price %}</td>
                    <td><a href="{% url 'removeitem' item.id %}" class="btn btn-primary height-auto btn-sm">X</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-6">
                <a href="{% url 'homepage' %}"><button class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</button></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="text-black h4" for="coupon">Coupon</label>
                <p>Enter your coupon code if you have one.</p>
              </div>
              <div class="col-md-8 mb-3 mb-md-0">
                <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary btn-sm px-4">Apply Coupon</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Subtotal</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">Rs.{{ total }}</strong>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">Rs.{{ total }}</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <a href="{% url 'checkout' %}" class="text-white"><button class="btn btn-primary btn-lg btn-block">Proceed To Checkout</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endif %}
{% endblock %}