<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{% static 'homepage/fonts/icomoon/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'homepage/css/magnific-popup.css' %}">
    <link rel="stylesheet" href=" {% static 'homepage/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/owl.theme.default.min.css' %}">


    <link rel="stylesheet" href="{% static 'homepage/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .viewportadjustment{
            overflow-x: hidden !important;
        }
    </style>
</head>
<body>
<div class="viewportadjustment">
<script src="{% static 'homepage/js/vue.js' %}"></script>
<div class="site-mobile-menu"></div>
{% block body %}
{% endblock %}
<div class="bg-dark pt-5" style="background-color:black !important;">
<div class="container">
    <div class="row">
        <div class="col-lg-6 ml-auto mb-5 mb-lg-0">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-white footer-heading mb-4">Quick Links</h3>
                </div>
                <div class="col-md-6 col-lg-4">
                    <ul class="list-unstyled">
                        <li><a href="#">Terms and Condition</a></li>
                        <li><a href="#">Refund Policy</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li><a href="{% url 'cart' %}">Shopping cart</a></li>
                        <li><a href="{% url 'trackorder' %}">Track order</a></li>
                    </ul>
                </div>
<!--                <div class="col-md-6 col-lg-4">-->
<!--                    <ul class="list-unstyled">-->
<!--                        <li><a href="#">Mobile commerce</a></li>-->
<!--                        <li><a href="#">Dropshipping</a></li>-->
<!--                        <li><a href="#">Website development</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="col-md-6 col-lg-4">-->
<!--                    <ul class="list-unstyled">-->
<!--                        <li><a href="#">Point of sale</a></li>-->
<!--                        <li><a href="#">Hardware</a></li>-->
<!--                        <li><a href="#">Software</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="block-5 mb-5">
                <h3 class="footer-heading  mb-4 text-white">Contact Info</h3>
                <ul class="list-unstyled">
                    <li class="phone "><a href="tel://9551275395">+91 9551275395</a></li>
                    <li class="email text-white">societee@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
    <center>
        <div style="width: 65%;" class="block-7">
            <form action="{% url 'subscriber' %}" method="POST">
                <label for="email_subscribe" class="text-white footer-heading">Subscribe</label>
                <div class="form-group">
                    <input type="text" name="email" class="form-control py-4" id="email_subscribe"
                           placeholder="Email">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
            </form>
        </div>
    </center>
    <div class="row pt-5 mt-5 text-center">
        <div class="text-white col-md-12">
            <p>
                Copyright ©
                <script>document.write(new Date().getFullYear());</script>
                All rights reserved | <a
                    href="{% url 'homepage' %}" class="text-primary">Tees Factory</a>
            </p>
        </div>
        <div class="col-lg-12 col-md-12">
            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/1002/7150/files/CARDS_3.png" alt="">
        </div>

    </div>
<script src=" {% static 'homepage/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery-ui.js' %}"></script>
<script src="{% static 'homepage/js/popper.min.js' %}"></script>
<script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
<script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'homepage/js/aos.js' %}"></script>
<script src="{% static 'homepage/js/main.js' %}"></script>
<script src="{% static 'homepage/js/slick.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
</div>
</div>
</div>
</body>
</html>
