{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}Societee{% endblock %}
{% block body %}
{% include 'homepage/navbar.html' %}
<div class="mx-auto mt-3 mb-2">
  {% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
        <center>{{ message }}</center>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
</div>
<div class="site-blocks-cover" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title">#New Trending Collection 2020</h2>
            <h1>Special Sales</h1>
            <p><a href="shop/" class="btn btn-black rounded-0">Shop Now</a></p>
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-end">
            <img src="{% static 'homepage/images/model_3.png' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section mb-5 col-12">
            <h2 class="text-uppercase">New Arrivals</h2>
          </div>
        </div>
        <div class="row">
            {% for product in products %}
          <div class="col-lg-3 col-md-6 mb-4 item-entry">
            <a href="{% url 'showproduct' product.slug %}" class="">
              <img src="{{ product.mockup }}" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title mt-2"><a href="{% url 'showproduct' product.slug %}">{{ product.title }}</a></h2>
            <strong class="item-price">Rs.{{ product.price }}</strong>
          </div>
            {% endfor %}
          </div>
        <center><a href="{% url 'shop' %}" class="btn-primary mt-5 btn-md btn">Shop More</a></center>
        </div>
</div>
{% endblock %}
