{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}Tees Factory | {% if current == 'Featured' %}{{current}}{% else %}Shop{% endif %}{% endblock %}
{% block body %}
{% include 'homepage/navbar.html' %}

<div class="site-section" id="app">
    <div class="container">
        <div class="row">
            <div class="title-section mb-5 col-12">
                <h2 class="text-uppercase">Our Collections</h2>
            </div>
        </div><div class="row align mt-1 ml-5 mr-5">
    <div class="col-md-12 mb-5">
        <div class="d-flex">
            <div class="btn-group"><h4>Sort by</h4>
                <button type="button" class="btn btn-white ml-3 btn-sm dropdown-toggle px-4" id="dropdownMenuReference"
                        data-toggle="dropdown">{{ current }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <a class="dropdown-item" href="{% url 'shop' %}">New - Old</a>
                    <a class="dropdown-item" href="{% url 'shopold' %}">Old - New</a>
                    <a class="dropdown-item" href="{% url 'shophigh' %}">High Price to Low Price</a>
                    <a class="dropdown-item" href="{% url 'shoplow' %}">Low Price to High Price</a>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-md-6 item-entry mb-4">
                <a href="{% url 'showproduct' product.slug %}">
                <img src="{{ product.mockup }}" alt="Image" class="img-fluid">
                </a>
                <h2 class="item-title"><a href="{% url 'showproduct' product.slug %}">{{ product.title }}</a></h2>
                <strong class="item-price">Rs.{{ product.price }}</strong>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        created() {
            console.log('Vue app Created')
        }
    })
</script>
{% endblock %}
