{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}Societee{% endblock %}
{% block body %}
{% include 'homepage/navbar.html' %}
<div class="mt-2" >
    <center>
        {% if responsecode == '01' %}
        <img width="400" height="300" src="{% static 'orders/success.gif' %}"  alt="">
        {% endif %}
        <h3 class="text-success" >{{reponsemessage}}</h3>
        <h5 class="mb-5">Order ID: {{orderid}}</h5>
        <a href={% url 'trackorder' %} class="btn btn-primary">track Order</a>
    </center>
</div>
{% endblock %}
