{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}Societee{% endblock %}
{% block body %}
{% include 'homepage/navbar.html' %}
<center>
<img width="550" height="400" src="{% static 'orders/loading.gif' %}" alt="">
<h1 class="text-success">Your payment is processing</h1>
<h2 class="text-danger">Please do not refresh this page...</h2>
</center>
<form method="POST" action={{url}} name="paytm_form">
{% for key, value in paytmParams.items %}
	<input hidden name={{key}} value={{value}}>
{% endfor %}
{% csrf_token %}
<input type="hidden" name="CHECKSUMHASH" value={{checksum}}>
</form>
<script>
 document.paytm_form.submit();
</script>
{% endblock %}