{% extends 'homepage/base.html' %}
{% block title %}{{ product.title }}{% endblock %}
{% block body %}
{% include 'homepage/navbar.html' %}
<div>
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="{% url 'homepage' %}">Home</a> <span class="mx-2 mb-0">/</span> <a
                        href="{% url 'shop' %}">Shop</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">{{
                    product.title }}</strong></div>
            </div>
        </div>
    </div>
    <div class="mx-auto mt-3 mb-2">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show"
             role="alert">
            <center>{{ message }}</center>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="carouselExampleControls" style="width:400px; height:600px;" class="carousel slide"
                         data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a data-fancybox="gallery" href="{{ product.mockup }}"><img
                                        class="d-block image w-100" src="{{ product.mockup }}" alt="First slide"></a>
                            </div>
                            <div class="carousel-item">
                                <a data-fancybox="gallery" href="{{ product.design }}"><img
                                        class="d-block image w-100" src="{{ product.design }}"
                                        alt="Second slide"></a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="text-black">{{ product.title }}</h2>
                    <h6>Hand-Sleve Round-Neck</h6>
                    <br>
                    <p>{{ product.description }}.</p>
                    <p><strong class="text-primary h4">Rs.{{ product.price }}</strong></p>
                    <form action="{% url 'add_to_cart' product.slug %}" method="POST">
                        <label for="color"><h5>Select color</h5></label>
                        <select required name="color" id="color">
                            <option value="{{ product.color }}" selected>{{ product.color }}</option>
                        </select><br>
                        <label for="size"><h5>Your size</h5></label>
                        <select required class="ml-4" name="size" id="size">
                            <option value="">None</option>
                            <option value="S">Small</option>
                            <option value="M">Medium</option>
                            <option value="L">Large</option>
                            <option value="XL">X-Large</option>
                        </select>
                        <div id="showproduct">
                            <a href="#" class=" btn " onclick="chartalert();">What's your size?</a>
                        </div>
                        <div class="mb-5">
                            <div id="quantity">
                                <div class="input-group mb-3" style="max-width: 120px;">
                                    <div class="input-group-prepend">
                                        <button @click="decrement" class="btn btn-outline-primary"
                                                type="button">&minus;
                                        </button>
                                    </div>
                                    <input name="quantity" v-model="quantity" type="text"
                                           class="form-control quantity text-center" value="1"
                                           placeholder=""
                                           aria-label="Example text with button addon" aria-describedby="button-addon1">
                                    <div class="input-group-append">
                                        <button @click="increment" class="btn btn-outline-primary" type="button">
                                            &plus;
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {% csrf_token %}
                        </div>
                        <div class="row">
                            <p>
                                <button value="addtocart" name="btn" type="submit"
                                        class="buy-now ml-3 btn btn-sm height-auto px-4 mr-1 py-3 btn-primary">Add to
                                    Cart
                                </button>
                            </p>
                            <p>
                                {% if not user.is_authenticated %}
                                <button value="buynow" name="btn"
                                        class="buy-now btn btn-sm height-auto px-4 ml-1 py-3 btn-primary" type="submit">
                                    Buy
                                    Now
                                </button>
                                {% endif %}
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
function chartalert(){
    Swal.fire({
  imageUrl: 'https://cdn.shopify.com/s/files/1/0373/5929/files/size_chart-t-shirt.jpg?v=1536326455',
  imageWidth: 300,
  imageHeight: 400,
  imageAlt: 'Custom image',
})
}
new Vue({
    el: '#quantity',
    data: {
        quantity: 1
    },
    methods: {
        increment(){
            this.quantity++
        },
        decrement(){
            if(this.quantity > 1){
                this.quantity--
            }
        }
    }
})
console.log()

</script>
</div>
<style>
    .image:hover{
        cursor: pointer;
    }

</style>
{% endblock %}



